In [1]:
import pandas as pd
import numpy as np

#### Exercise 1: Getting & Knowing Your Data (Chipo)

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [3]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### Display the first 10 rows of â€˜chipoâ€™ using the head() function.

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### Determine the total number of entries (rows) in â€˜chipoâ€™ using shape or info().

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

##### Use shape or columns to find the total number of columns in â€˜chipoâ€™.

In [6]:
chipo.shape

(4622, 5)

**Use columns to print all the column names.**

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

#### Utilize index to understand how the DataFrame is indexed.

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

#### Use the value_counts() method on the â€˜item_nameâ€™ column to find the most ordered item.

In [9]:
chipo.value_counts('item_name')

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: count, dtype: int64

#### Find the total number of items ordered by summing the â€˜quantityâ€™ column.

In [10]:
chipo['quantity'].sum()

4972

#### Convert â€˜item_priceâ€™ to a float datatype using apply() and lambda

In [11]:
chipo['item_price'] = chipo['item_price'].apply(lambda x:  float(x.replace('$','')))

#### Calculate the total revenue for the dataset by summing the â€˜item_priceâ€™ column.

In [12]:
chipo['item_price'].sum()

34500.16

#### Find the total number of orders by using the nunique() function on the â€˜order_idâ€™ column.

In [13]:
chipo['order_id'].nunique(0)

1834

#### Compute the average order value by dividing the total revenue by the number of orders.

In [14]:
#chipo.groupby('order_id').sum('item_price')
chipo['item_price'].sum() / chipo['order_id'].nunique(0)

18.811428571428575

#### Determine the total number of unique items sold using the nunique() function on the â€˜item_nameâ€™ column.

In [15]:
chipo['item_name'].nunique(0)

50

## ðŸŒŸExercise 2: Filtering & Sorting (Chipo)

Using conditional selection, find the count of products that cost more than $10. Note: the price is listed in the â€˜item_priceâ€™ column.

In [27]:
chipo['item_name'][chipo['item_price'] > 10].nunique()

31